extends ../layout

block content
    script.
      $(document).ready(function() {
      $('#employeeTable').DataTable();
      } );
    h2.text-center EMPLOYEE MANAGEMENT
    br
    br    
    if user
     p     
      a(href='/employee/add') Add new employee    
    table.table#employeeTable
     thead
      tr
        th Index
        th Name
        th Email        
        th Department
        th Option
     tbody
      each employee, i in list
       tr
        td= i+1
        td= employee.fullname        
        td= employee.email        
        td= employee.department.name
        td  
          a.btn.btn-primary.btn-sm(href='/employee/details?id='+employee.id, role='button')
            span.glyphicon.glyphicon-user(title='View Detail', aria-hidden='true')
          if user 
           a.btn.btn-warning.btn-sm(href='/employee/edit?id='+employee.id, role='button')
            span.glyphicon.glyphicon-pencil(title='Edit Employee', aria-hidden='true')            
           a.btn.btn-danger.btn-sm(href='/employee/delete?id='+employee.id, role='button')
            span.glyphicon.glyphicon-trash(title='Delete Employee', aria-hidden='true')
          