extends layout

block content
    form.form-horizontal(action='/changepassword', method='POST')
        .form-group
           h1.text-center.login-title Change password
        .form-group
          label.col-sm-3.control-label(for='password') Current Password
          .col-sm-7
            input.form-control(type='password', name='currentpassword', id='currentpassword')
        .form-group
          label.col-sm-3.control-label(for='password') New Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn-primary(type='submit')
              i.fa.fa-lock
              | Change Password