.col-md-2     
    #sidebar.well.sidebar-nav
      h4        
        small
          b EMPLOYEE
      ul.nav.nav-pills.nav-stacked
        li
          a(href='/employee/index') Index
        li
          a(href='/employee/add') Add
        li
          a(href='#') Search
      h4        
        small
          b DEPARTMENT
      ul.nav.nav-pills.nav-stacked
        li
          a(href='#') List
        li
          a(href='#') Manage